<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

</head>

<body>

<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar" th:fragment="sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/dashboard' ? 'active':''}" href="/dashboard">
                <strong>Dashboard</strong>
            </a>
        </li>
    </ul>
    <ul class="nav nav-pills flex-column">
        <li class="nav-link">
            <strong>Users</strong>
        </li>
        <li>
            <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/users' ? 'active':''}" href="/users">
                All Users
            </a>
        </li>
        <li>
            <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/search/user' ? 'active':''}" href="/search/user">
                Search Users
            </a>
        </li>
        <li>
            <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/add/user' ? 'active':''}" href="/add/user">
                Add Users
            </a>
        </li>
    </ul>
    <ul class="nav nav-pills flex-column">
        <li class="nav-link">
            <strong>Devices</strong>
        </li>
        <li>
            <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/devices' ? 'active':''}" href="/devices">
                All Devices
            </a>
        </li>
        <li>
            <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/search/device' ? 'active':''}" href="/search/device">
                Search Devices
            </a>
        </li>
        <li>
            <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/add/device' ? 'active':''}" href="/add/device">
                Add Devices
            </a>
        </li>
    </ul>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/help' ? 'active':''}" href="/help">
                Help
            </a>
        </li>
    </ul>
</nav>

</body>

</html>