<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='lumberjack - Add')">
</head>

<body>

<div th:replace="fragments/header :: navbar"></div>

<!-- Page Content -->

<div class="container-fluid">
    <div class="row">

        <div th:replace="fragments/sidebar :: sidebar"></div>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <h1>Dashboard</h1>

            <h2>
                Add
                <span th:if="${type} == user">Users</span>
                <span th:if="${type} == device">Devices</span>
                <span th:if="${type} == group">User Groups</span>
            </h2>

            <span id="type" style="display: none;" th:text="${type}"></span>

            <div th:if="${blank}">
                <p class="lead">What do you want to add?</p>

                <div class="row">
                    <div class="col-sm-auto">
                        <a class="btn btn-primary" href="/add/user" role="button">Users</a>
                    </div>
                    <div class="col-sm-auto">
                        <a class="btn btn-primary" href="/add/device" role="button">Devices</a>
                    </div>
                    <div class="col-sm-auto">
                        <a class="btn btn-primary" href="/add/group" role="button">User Groups</a>
                    </div>
                </div>
            </div>

            <div th:if="${type} == user" class="container-fluid">
                <div class="row">
                    <div class="col-lg">

                        <p class="lead">
                            Add a single user:
                        </p>

                        <div class="container-fluid">
                            <div class="row">
                                <form action="#" th:action="@{/add/user}" method="post">

                                    <div class="form-group row" >
                                        <label for="scanValue" class="col-lg col-form-label">Scan Value</label>
                                        <div class="col-lg">
                                            <input type="text" class="form-control" id="scanValue" name="scanValue" placeholder="123456789" required="required" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="deviceLimit" class="col-lg col-form-label">Device Limit</label>
                                        <div class="col-lg">
                                            <input type="number" min="0" step="1" placeholder="0" value="0" class="form-control" id="deviceLimit" name="deviceLimit" required="required" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="canRemove" class="col-lg col-form-label">Can Remove Devices?</label>
                                        <div class="col-lg">
                                            <input type="checkbox" name="canRemove" id="canRemove" value="true" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="groupID" class="col-lg col-form-label">Group</label>
                                        <div class="col-lg">
                                            <select class="form-control" id="groupID" name="groupID" required="required">
                                                <option value="" selected="selected" disabled="disabled" hidden="hidden">Choose group</option>
                                                <th:block th:each="group : ${groups}">
                                                    <option th:value="${group.getId()}" th:text="${group.getId()}">Group ID</option>
                                                </th:block>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>

                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg">

                        <p class="lead">
                            Or upload a CSV file:
                        </p>

                        <div class="container-fluid">
                            <form action="/add/user/CSV" method="post" class="col-lg" enctype="multipart/form-data">

                                <div class="form-group row">
                                    <input type="file" class="form-control" name="file"/>
                                </div>

                                <div class="form-group row">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>

        </main>

    </div>
</div>

<div th:replace="fragments/sidebar :: sidebar"></div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>