<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include ="fragments/header :: head (title='lumberjack - Download')">
</head>

<body>

<div th:replace="fragments/header :: navbar"></div>

<!-- Page Content -->

<div class="container">
    <div class="mt-3">
        <h1>Download lumberjack</h1>
    </div>
    <p class="lead">A device library and logging system using RFID technology.</p>
    <p>
        lumberjack is an open source project, so you can download it from our
        <a href="https://github.com/AdamBeddoe/lumberjack/">GitHub</a>.
    </p>
    <details>
        <summary>How to run lumberjack</summary>
        <p>
            <p>
                Create a mySQL database, and change the configuration in the code to connect to your local/remote database.
            </p>
            <p>
                To run the project, navigate to the root of the project directory <code>lumberjack_spring</code> and run
                Spring Boot <code>mvn spring-boot:run</code>.
            </p>
            <p>
                Navigate to <a href="http://localhost:8080/">localhost:8080</a> enter the
                web front-end.
            </p>
        </p>
    </details>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>