<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include ="fragments/header :: head (title='lumberjack - Download')">
</head>

<body>

<div th:replace="fragments/header :: navbar"></div>

<!-- Page Content -->

<div class="container">
    <div class="mt-3">
        <h1>Download lumberjack</h1>
    </div>
    <p class="lead">A device library and logging system using RFID technology.</p>
    <p>
        lumberjack is an open source project, so you can download it from our
        <a href="https://github.com/AdamBeddoe/lumberjack/">GitHub</a>.
    </p>
    <details>
        <summary>How to run lumberjack</summary>
        <p>
            There is more information on running and deployment of lumberjack on the <a href="https://github.com/fn-ctional/lumberjack/wiki">wiki</a>.
        </p>
    </details>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>