<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include ="fragments/header :: head (title='lumberjack - Reset Password')">
</head>

<body>

<div th:replace="fragments/header :: navbar"></div>

<!-- Page Content -->

<div class="container">

    <h1>Reset Password</h1>

    <form name='reset-form' th:action="@{/user/resetPassword}" method='POST' enctype="utf8">

        <div class="form-group">
            <label for="email">Email Address: </label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"/>
        </div>

        <p class="text-muted form-text">
            You will be sent a password reset email.
        </p>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>