<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include ="fragments/header :: head (title='lumberjack - Profile')">
</head>

<body>

<div th:replace="fragments/header :: navbar"></div>

<!-- Page Content -->

<div class="container-fluid">
    <div class="row">

        <div th:replace="fragments/sidebar :: sidebar"></div>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <h1>Dashboard</h1>

            <h2>
                My Profile
            </h2>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg">

                        <div class="container-fluid">
                            <div class="row">
                                <form action="#" th:action="@{/profile}" method="post">

                                    <label for="id" hidden="hidden"></label>
                                    <input type="text" th:value="${email}" name="id" hidden="hidden" id="id"/>

                                    <div class="form-group row" >
                                        <label for="email" class="col-lg-2 col-form-label">Email Address</label>
                                        <div class="col-lg-10">
                                            <input th:value="${email}" type="text" class="form-control" id="email" name="email" required="required" />
                                        </div>
                                    </div>

                                    <div class="form-group row" >
                                        <label for="username" class="col-lg-2 col-form-label">Username</label>
                                        <div class="col-lg-10">
                                            <input th:value="${name}" type="text" class="form-control" id="username" name="username" required="required" />
                                        </div>
                                    </div>

                                    <div class="form-group row" >
                                        <label for="password" class="col-lg-2 col-form-label">Password</label>
                                        <div class="col-lg-10">
                                            <input type="password" class="form-control" id="password" name="username" disabled="disabled" />
                                        </div>
                                    </div>

                                    <p id="nameHelp" class="form-text text-muted">
                                        After changing your email address or password you will be required to log in again
                                        with your new credentials.
                                    </p>

                                    <div class="form-group row">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>

                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </main>

    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>