<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='lumberjack - Users')">
</head>

<body>

<div th:replace="fragments/header :: navbar"></div>

<!-- Page Content -->

<div class="container-fluid">
    <div class="row">

        <div th:replace="fragments/sidebar :: sidebar"></div>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <h1>Dashboard</h1>

            <h2 th:if="${multi} or ${blank}">Users</h2>
            <h2 th:if="!${multi} and !${blank}">User <span th:text="${searchTerm}">123456789</span></h2>

            <p th:if="!${found} and !${multi} and !${blank}" class="lead">User not found.</p>

            <p th:if="!${found} and ${multi}" class="lead">No users found.</p>

            <p th:if="${blank}" class="lead">
                View <a href="/users">all users</a> or <a href="/search/user">search</a> for one.
            </p>

            <div th:if="!${blank} and ${found}" class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Scan Value</th>
                        <th>Devices Removed</th>
                        <th>Device Limit</th>
                        <th>Can Remove?</th>
                        <th>Group</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="user : ${userList}">
                        <tr>
                            <td><a th:href="@{'/user/' + ${user.getId()}}"><span th:text="${user.getId()}">ID</span></a></td>
                            <td th:text="${user.getScanValue()}">Scan Value</td>
                            <td th:text="${user.getDevicesRemoved()}">Devices Removed</td>
                            <td th:text="${user.getDeviceLimit()}">Device Limit</td>
                            <td th:text="${user.canRemove() == true ? '✓' : '✗'}">Can Remove?</td>
                            <td><a th:href="@{'/group/' + ${user.getGroupId()}}"><span th:text="${user.getGroupId()}">Group ID</span></a></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>

            <div th:if="!${blank} and ${found} and !${multi}">

                <h1></h1>

                <h2>Assignment History</h2>

                <p th:if="!${taken}" class="lead">This user has no assignment history.</p>

                <div th:if="${taken}" class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Device ID</th>
                            <th>Taken Out</th>
                            <th>Returned</th>
                            <th>Returned on Time?</th>
                            <th>Returned By</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="takeout : ${takeoutList}">
                            <tr>
                                <td th:text="${takeout.getAssignmentHistoryID()}">ID</td>
                                <td><a th:href="@{'/device/' + ${takeout.getDeviceID()}}"><span th:text="${takeout.getDeviceID()}">Device ID</span></a></td>
                                <td th:text="|${takeout.getDateAssigned()}   ${takeout.getTimeAssigned()}|">Date Time</td>
                                <td th:text="|${takeout.getDateReturned()}   ${takeout.getTimeReturned()}|">Date Time</td>
                                <td th:text="${takeout.isReturnedOnTime() == true ? '✓' : '✗'}">On Time?</td>
                                <td><a th:href="@{'/user/' + ${takeout.getReturnedByID()}}"><span th:text="${takeout.getReturnedByID()}">Returned By</span></a></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>

            </div>

        </main>

    </div>
</div>

<div th:replace="fragments/sidebar :: sidebar"></div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>