/* Coolors Exported Palette - coolors.co/a3c5a9-463f3a-709775-eae0cc-2f4b26 */

/* HSL */
$color1: hsla(131%, 23%, 71%, 1);
$color2: hsla(25%, 9%, 25%, 1);
$color3: hsla(128%, 16%, 52%, 1);
$color4: hsla(40%, 42%, 86%, 1);
$color5: hsla(105%, 33%, 22%, 1);

/* RGB */
$color1: rgba(163, 197, 169, 1);
$color2: rgba(70, 63, 58, 1);
$color3: rgba(112, 151, 117, 1);
$color4: rgba(234, 224, 204, 1);
$color5: rgba(47, 75, 38, 1);