body {
    background-color: #dddddd;
    margin: 0;
}

h1 {
    font-family: "Roboto", sans-serif;
    color: #343434;
    font-size: 40px;
}

p {
    font-family: "Open Sans", sans-serif;
}

.main {
    #margin-top: 150px;
    margin-left: 20%;
    margin-right: 20%;
}

.name {
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 40px;
    display: inline-block;
    margin: 20px 20px 20px 20%;
    height: auto;
}

.caption-contrast {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #ffffff;
    display: inline-block;
    margin: 20px;
}

.top-bar {
    height: 90px;
    width: 100%;
    background-color: #272727;
    padding: 0;
    margin: 0;
}

.menu-bar {
    height: 40px;
    width: 100%;
    border-bottom: 8px #343434;
    background-color: #ffffff;
}

.top-container {
    position: sticky;
    top: 0;
}


#github-logo {
    display: inline-block;
    float: right;
    margin: 30px;
}

#github-logo:hover {
    opacity: 0.5;
}